@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

$sejongRed: #DA0A16;
$body-font-family: "Open Sans";
$title-font: "Open Sans";

body {
  font-family: "Open Sans", sans-serif !important;
}

section:nth-of-type(n + 2) {
  margin: 100px 0 0;
}

.v-application {
  font-family: $body-font-family, sans-serif !important;

  .title { // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42pt;
  font-weight: 800;
}

.accent-line {
  height: 4px;
  width: 69px;
  margin: 0 auto 40px;
  background-color: $sejongRed;
  border-radius: 1px;
}