$sejongRed: #DA0A16;

@mixin stdTransition($type, $duration, $timing) {
  -webkit-transition: $type $duration $timing;
  -moz-transition: $type $duration $timing;
  transition: $type $duration $timing;
}

#contact {
  a {
    color: $sejongRed !important;
    text-decoration: none;
  }

  form {
    display: flex;
    flex-direction: column;

    input, textarea {
      border: 1px solid #333;
      margin: 0.5em 0;
      padding: 1.5em;
      font-weight: 200;
      font-size: 0.8em;
      resize: none;

      &:focus {
        outline-color: $sejongRed;
      }
    }

    input[type=submit] {
      align-self: flex-start;
      border: 2px solid black;
      padding: 1em 4em;
      font-weight: 700;
      text-transform: uppercase;
      background-color: transparent;
      @include stdTransition(all, .2s, ease-in-out);

      &:hover {
        cursor: pointer;
        border-color: $sejongRed;
        background-color: $sejongRed;
        color: #ffffff;
      }
    }
  }

  .social-icons {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;

    .contact-icon {
      font-size: 42px;
      margin: 0 5px 0 5px;
      color: rgb(33, 37, 41);
    }

    .contact-icon-fb:hover {
      color: rgb(66, 103, 178);
    }

    .contact-icon-yt:hover {
      color: rgb(255, 0, 0);
    }

    .contact-icon-ig:hover {
      color: rgb(218, 43, 115);
    }

  }
}
