#locations {
  p {
    margin: 0;
  }

  .row {
    background-color: #f0f0f0;
  }

  .icon-map {
    grid-area: icon-map;
  }

  .address {
    grid-area: address;

    p {
      font-size: 1.2rem;
    }
  }

  .icon-clock {
    grid-area: icon-clock;
  }

  .time {
    grid-area: time;
  }

  .icon-transport {
    grid-area: icon-transport;
  }

  .transport {
    grid-area: transport;
  }

  .map {
    grid-area: map;
  }

  .location {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template: 1fr 1fr 1fr / auto 1fr 50%;
    grid-template-areas:
          "icon-map address map"
          "icon-clock time map"
          "icon-transport transport map";
    column-gap: 1%;

    //h2 {
    //  font-family: "Akrobat-Black", "Open Sans", sans-serif;
    //  text-transform: uppercase;
    //  font-size: 2.3em;
    //}

    .v-icon {
      font-size: 3.4em;
      color: #DA0A16;
    }

    iframe {
      width: 100%;
      height: 450px;
    }

  }

  .maps-line {
    width: 4px;
    margin: 20px 0 20px 0;
    background-color: #DA0A16;
  }

  @media screen and (max-width: 1264px) {
    .location {
      grid-template: 1fr 1fr 1fr auto / auto 1fr;
      grid-template-areas:
        "icon-map address"
        "icon-clock time"
        "icon-transport transport"
        "map map";
    }

    h2 {
      font-size: 2em !important;
    }

  }
}