
#locations {

  .container {
    background-color: #f0f0f0;
  }

  .icon-map {
    grid-area: icon-map;
  }

  .address {
    grid-area: address;
  }

  .icon-clock {
    grid-area: icon-clock;
  }

  .time {
    grid-area: time;
  }

  .icon-transport {
    grid-area: icon-transport;
  }

  .transport {
    grid-area: transport;
  }

  .map {
    grid-area: map;
  }

  .location {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template: 1fr 1fr 1fr / auto 1fr 50%;
    grid-template-areas:
          "icon-map address map"
          "icon-clock time map"
          "icon-transport transport map";

    h2 {
      text-transform: uppercase;
      font-size: 2em;
    }

    .v-icon {
      font-size: 4em;
      color: #DA0A16;
    }

    iframe {
      width: 100%;
      height: 500px;
    }

  }
}