//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');
//
//$navbar-font-family: 'Oswald';

@mixin stdTransition($type, $duration, $timing) {
  -webkit-transition: $type $duration $timing;
  -moz-transition: $type $duration $timing;
  transition: $type $duration $timing;
}


nav {
  //font-family: $navbar-font-family;
  font-size: .925em;
  font-weight: 700;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1.1em 0 1.1em 0;
  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;

  ul {
    padding: 0 !important;

    li {
      list-style-type: none;
    }
  }

  .nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      cursor: pointer;
    }

    .menu-toggle {
      display: none;
    }

    .nav-items {
      display: flex;

      .nav-item {
        @include stdTransition(background, .3s, ease-in-out);

        &:active,
        &:focus {
          outline: none;
          background-color: transparent;
        }

        .nav-link {
          cursor: pointer;
          color: #fff;
          text-decoration: none;
          //font-weight: 500;
          padding: .5rem;


          &:hover {
            color: #ccc;
          }

          .nav-icons {
            color: #fff;

            &:hover {
              color: #ccc;
            }
          }
        }
      }

      .is-active {
        outline: none;
        background-color: rgba(255, 255, 255, .3);
        border-radius: 2px;
      }
    }

    @media(max-width: 960px) {
      flex-direction: column;
      align-items: normal;

      .menu-toggle {
        display: block;
      }

      .nav-items {
        flex-direction: column;
        align-items: center;

        .nav-item {
          padding-top: .8rem;
        }
      }
    }
  }

}

.nav-shrink {
  //border-bottom: 1px solid fade-out(white, .7);
  background: rgba(0, 0, 0, .78);
  backdrop-filter: blur(5px);
  padding: 0;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12)
}