@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

$navbar-font-family: 'Oswald';

@mixin stdTransition($type, $duration, $timing) {
  -webkit-transition: $type $duration $timing;
  -moz-transition: $type $duration $timing;
  transition: $type $duration $timing;
}

nav {
  font-family: $navbar-font-family;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding: 1.1em 0 1.1em 0;
  -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
  transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;

  .nav-logo {
    cursor: pointer;
  }

  .nav-items {
    display: flex;

    .nav-item {
      list-style-type: none;
      @include stdTransition(background, .3s, ease-in-out);

      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }

      .nav-link {
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        font-weight: 500;
        padding: .5rem;
        letter-spacing: 1px;

        &:hover {
          color: #ccc;
        }

        .nav-icons {
          color: #fff;

          &:hover {
            color: #ccc;
          }
        }
      }
    }

    .is-active {
      outline: none;
      background-color: rgba(255, 255, 255, .3);
      border-radius: 2px;
    }
  }

  @media(max-width: 992px) {
    .nav-items {
      display: none;
    }
  }
}

.navShrink {
  border-bottom: 1px solid fade-out(white, .7);
  background: rgba(0, 0, 0, .87);
  padding: 0;

}