.welcome {
  height: 100vh;

  .carousel {
    height: 100%!important;

    .background {
      filter: brightness(.2);
      background-size: cover!important;
      height: 100vh;
      color: #f0f0f0;
    }
  }
}