#who-are-we {
  .v-carousel h1 {
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    font-size: 45px;

  }

  p {
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    font-size: 19px;
  }

  .v-image__image--cover {
    filter: brightness(.5) !important;
  }

  .text-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  @media(max-width: 992px) {
    .v-carousel h1 {
      font-size: 40px;
    }

    p {
      font-size: 15px;
    }
  }
}

