@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

$sejongRed: #DA0A16;
$body-font-family: "Open Sans";
$title-font: "Open Sans";

@mixin stdTransition($type, $duration, $timing) {
  -webkit-transition: $type $duration $timing;
  -moz-transition: $type $duration $timing;
  transition: $type $duration $timing;
}

body, html {
  font-family: "Open Sans", sans-serif !important;
  overflow: hidden;
}

section:nth-of-type(n + 2) {
  padding: 100px 0 0;
}

.v-application {
  font-family: $body-font-family, sans-serif !important;

  .title { // To pin point specific classes of some components
    font-family: $title-font, sans-serif !important;
  }
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 42pt;
  font-weight: 800;
}

a {
  color: $sejongRed;
  @include stdTransition(all, .2s, ease-in-out);

  &:hover,
  &:visited,
  &:focus {
    text-decoration: none;
    color: darken($sejongRed, 10%)
  }

}

.accent-line {
  height: 4px;
  width: 69px;
  margin: 0 auto 40px;
  background-color: $sejongRed;
  border-radius: 1px;
}